# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/

# Logs
logs.txt
sniper.log

# Virtual environments
venv/
ENV/

# Misc
tried-nitro-codes.txt

config.json